
bin
gen
build
out
lib

local.properties
release.properties

.idea
*.iml
classes
.gradle

/*/iml
/build


/bin
/gen
/proguard
/.settings
/.factorypath
/.apt_generated
/.idea
/.svn
/*/bin
/*/gen
/*/proguard
/*/.settings